<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="layout">
            <div class="menu">
                <a href="/"><button>Главная</button></a>
                <a href="/contact"><button>Контакты</button></a>
                <a href="/first"><button>Первый сайт</button></a>
                <a href="/second"><button>Второй сайт</button></a>
                <a href="/third"><button>Третий сайт</button></a>
            </div>
            <div class="content">
                <h1>о моих проектах</h1>
                <p>я начинающий разработчик который делает сайты и приложения.</p>
                <p>я начал свой путь в программировании 3 сентября 2025 года.</p>
                <p></p>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>