<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="layout">
            <div class="menu">
                <a href="/first"><button>Главная</button></a>
                <a href="/first"><button>Первый сайт</button></a>
                <a href="/second"><button>Второй сайт</button></a>
                <a href="/third"><button>Третий сайт</button></a>
            </div>
            <div class="content">
                <h1>Второй сайт</h1>
                <p>Второй сайт имеет координальные отличия от первого.</p>
                <p>я начал писать второй сайт как меседжер</p>
                <p>из особенностей: я познакомился с </p>
                <p>с SQLAlchemy для работы с базой данных в моем случае SQLlite</p>
                <p>чтобы реализовать функционал чата как real-time обновления.</p>
                <p>я использовал JavaScript polling для периодической проверки новых сообщений.</p>
                <p>гитхаб: <a href="https://github.com/markuslool/Messenger">нажми</a></p>
                <p>вот скриншот сайта:</p>
                <img src="/static/image2.png" alt="Second Site Screenshot">
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>